#columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#title {
  text-align: center;
  width: fit-content;
  padding: 30px;
}

#title:hover {
  color: blue;
  transform: rotate();
}



#vocab-card {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  text-align: center;
  margin: 15px;
  background-color: whitesmoke;
  width: 300px;
  max-width: 300px;
}


#vocab-type {
  margin: 18px;
}

#home {
  position: fixed;
  top: 18px;
  left: 18px;
  
}

#home:hover {
  cursor: pointer;
}

#card {
  height: 200px;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  margin: 15px;
  background-color: whitesmoke;
  width: 350px;
  max-width: 350px;
}

#vocab-game-title {
  margin-top: 50px;
  margin-bottom: 30px;
}

#remaining-score {
  margin-bottom: 30px;
}

#correct-hebrew {
  margin-bottom: 10px;
}

#audioGameButton {
  width: 300px;
  margin: 10px;
}

#nextWordGameButton {
  width: 300px;
  margin: 10px;
}

#score {
  margin: 50px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  color: blue;
  background-color: aliceblue;
  width: 100vw;
}

#rows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.rowItem {
  width: 33.33%;
  text-align: center;
}

#radio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text-answer-container {
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  gap: 10px
}